@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(
		135deg,
		hsl(205deg 22% 85%) 0%,
		hsl(217deg 29% 88%) 29%,
		hsl(239deg 34% 92%) 43%,
		hsl(257deg 28% 89%) 57%,
		hsl(260deg 18% 81%) 71%,
		hsl(262deg 14% 73%) 100%
	);
	/* background-image: url(../../public/assets/bgray.jpg);
	background-repeat: repeat; */
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}
