# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.sqlite3

# Environment Files
.env
.env.*
!.env.sample   # allow only this file to be committed

# Virtual Environments
*.venv/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# Mac OS
.DS_Store

# Test output
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
# **/migrations/*.pyc
# **/migrations/__pycache__/
# **/migrations/*.py

# Docker
*.pid

# IDEs and Editors
.idea/
